@import "tailwindcss";
@import "./assets/type.css";
*{
  font-family: 'Aeroport', sans-serif;
}
:root {
  --swiper-navigation-color: #e0e0e0; /* Lighter gray navigation arrows */
  --swiper-pagination-color: #e0e0e0; /* Lighter gray pagination dots */
}

.has-border{
  border-right: 2px solid #00000011;
}





.swiper-button-prev {
  color: #f0f0f0;
  left: 5%;
}

.swiper-button-next {
  color: #f0f0f0;
  right: 5%;
}


@media (min-width: 1600px) {

  .swiper-button-prev {
    left: 15%;
  }

  .swiper-button-next {
    right: 15%;
  }
  .banner--text{
    top: 40%;
    left: 20%;
  }
}
@media (max-width: 1300px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}

#j-active a,
#active {
  color: #002844 !important;
  font-weight: 500;
}
.smoke-effect {
  position: relative;
  text-shadow:
    0 0 12px rgba(255, 255, 255, 0.7),
    0 0 24px rgba(255, 255, 255, 0.6),
    0 0 36px rgba(255, 255, 255, 0.5),
    0 0 48px rgba(255, 255, 255, 0.4),
    0 0 60px rgba(255, 255, 255, 0.3);
}



.list-meta-language{
  font-family: 'Aeroport', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  display: inline;
  padding-right: .375rem;
  margin-right: .375rem;
  border-right: 1px solid #cbd6dd;
  color: #002844;
}
